/*-- -------------------------- -->
<---         Subscribe          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #subscribe-1718 {
      height: 40vh;
      background-color: #1a1a1a;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
      font-family: 'Aptos', sans-serif;
    }
    #subscribe-1718 .cs-container {
      width: 100%;
      /* changes to 1312px at tablet */
      max-width: 34.375rem;
      margin: auto;
      padding: var(--sectionPadding);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #subscribe-1718 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 39.375rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      position: relative;
      z-index: 1;
    }
    #subscribe-1718 .cs-title {
      max-width: 20ch;
      color: var(--bodyTextColorWhite);
    }
    #subscribe-1718 .cs-text {
      margin-bottom: 1rem;
      color: var(--bodyTextColorWhite);
      opacity: .8;
    }
    #subscribe-1718 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #subscribe-1718 .cs-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    #subscribe-1718 .cs-input {
      font-size: 1rem;
      width: 100%;
      height: clamp(2.875rem, 5.5vw, 3.5rem);
      margin: 0;
      padding: 0;
      padding-left: 1.25rem;
      border: none;
      /* prevents padding from adding to width and height */
      box-sizing: border-box;
      display: block;
    }
    #subscribe-1718 .cs-input::placeholder {
      color: #767676;
    }
    #subscribe-1718 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #ffffff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #subscribe-1718 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #363636;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #subscribe-1718 .cs-button-solid:hover:before {
      width: 100%;
    }
    #subscribe-1718 .cs-submit {
      width: 100%;
      border: none;
      color: var(--bodyTextColorWhite);
    }
    #subscribe-1718 .cs-submit:hover {
      cursor: pointer;
    }
    #subscribe-1718 .cs-background {
      width: 100%;
      height: 100vw;
      max-height: 25rem;
      display: block;
      order: -1;
      position: relative;
      z-index: 2;
    }
    #subscribe-1718 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    #subscribe-1718 .cs-floater {
      /* 296px - 450px */
      width: clamp(18.5rem, 35vw, 28.125rem);
      height: auto;
      opacity: .04;
      position: absolute;
      right: -8.0625rem;
      top: -9.375rem;
      z-index: -1;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #subscribe-1718 {
      flex-direction: row;
      align-items: stretch;
    }
    #subscribe-1718 .cs-container {
      max-width: 82rem;
      align-items: flex-end;
    }
    #subscribe-1718 .cs-content {
      width: 45vw;
      max-width: 39.375rem;
    }
    #subscribe-1718 .cs-background {
      width: 50%;
      max-height: 100%;
      height: 100%;
      position: absolute;
      right: 50%;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #subscribe-1718 .cs-content {
      /* remove the positioning so the cs-floater is now absolutely positioned to the nearest parent that has a declared position relative, which is the section parent */
      position: initial;
    }
    #subscribe-1718 .cs-form {
      flex-direction: row;
    }
    #subscribe-1718 .cs-button-solid {
      width: auto;
    }
    #subscribe-1718 .cs-floater {
      top: 50%;
      right: -12.5rem;
      transform: translateY(-50%);
    }
  }
  /* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #subscribe-1718 .cs-content {
      width: 100%;
    }
    #subscribe-1718 .cs-background {
      margin-right: 7.375rem;
    }
  }
  #subscribe-1718 .cs-title {
    max-width: 20ch;
    color: #ffffff; /* Changed to white */
  }
  #subscribe-1718 .cs-text {
    margin-bottom: 1rem;
    color: #ffffff; /* Changed to white */
    opacity: .8;
  }
  #subscribe-1718 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #subscribe-1718 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #ffffff; /* Changed to white */
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }                               